In [1]:
import nltk
import pandas as pd
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [2]:
def segmenter(texte):
    phrases = sent_tokenize(texte)
    return phrases

In [3]:
#Exemple de segmentation
text="I think that I would agree to leave my country if I were given the opportunity to work abroad. I would become a beautician and create my own business so for that, I must know all practical experiences to be the best. I would go abroad to increase my skills. Moreover, I would have the possibility to discover a new country such as Australia with its various cultures, unknown people and its different and more beautiful environment."
r=segmenter(text)
r

['I think that I would agree to leave my country if I were given the opportunity to work abroad.',
 'I would become a beautician and create my own business so for that, I must know all practical experiences to be the best.',
 'I would go abroad to increase my skills.',
 'Moreover, I would have the possibility to discover a new country such as Australia with its various cultures, unknown people and its different and more beautiful environment.']

In [4]:
def fenetre_coulissante(texte, longueur):
    phrases=segmenter(texte)
    df=pd.DataFrame(columns=['premise','hypotesysis'])
    for i in range(len(phrases)):
        for j in range(i+1, i+longueur+1):
                  try:
                    df=df.append({'premise':phrases[i],'hypotesysis':phrases[j]},ignore_index=True)
                  except IndexError: 
                    j = i+longueur+1 
    return df

In [46]:
df1 = fenetre_coulissante(text, 5)
df1

,premise,hypotesysis
0,I think that I would agree to leave my country...,I would become a beautician and create my own ...
1,I think that I would agree to leave my country...,I would go abroad to increase my skills.
2,I think that I would agree to leave my country...,"Moreover, I would have the possibility to disc..."
3,I would become a beautician and create my own ...,I would go abroad to increase my skills.
4,I would become a beautician and create my own ...,"Moreover, I would have the possibility to disc..."
5,I would go abroad to increase my skills.,"Moreover, I would have the possibility to disc..."

# Test avec un exemple de paragraphe

In [6]:
text_paragraphe = "Nearly ten years had passed since the Dursleys had woken up to find their nephew on the front step, but Privet Drive had hardly changed at all. The sun rose on the same tidy front gardens and lit up the brass number four on the Dursleys' front door. It crept into their living room, which was almost exactly the same as it had been on the night when Mr. Dursley had seen that fateful news report about the owls. Only the photographs on the mantelpiece really showed how much time had passed."

In [7]:
Dataframe = segmenter(text_paragraphe)
Dataframe

['Nearly ten years had passed since the Dursleys had woken up to find their nephew on the front step, but Privet Drive had hardly changed at all.',
 "The sun rose on the same tidy front gardens and lit up the brass number four on the Dursleys' front door.",
 'It crept into their living room, which was almost exactly the same as it had been on the night when Mr. Dursley had seen that fateful news report about the owls.',
 'Only the photographs on the mantelpiece really showed how much time had passed.']

In [18]:
df = fenetre_coulissante(text_paragraphe, 2)

In [19]:
df

,premise,hypotesysis
0,Nearly ten years had passed since the Dursleys...,The sun rose on the same tidy front gardens an...
1,Nearly ten years had passed since the Dursleys...,"It crept into their living room, which was alm..."
2,The sun rose on the same tidy front gardens an...,"It crept into their living room, which was alm..."
3,The sun rose on the same tidy front gardens an...,Only the photographs on the mantelpiece really...
4,"It crept into their living room, which was alm...",Only the photographs on the mantelpiece really...

In [ ]:
 #AllenNLP Library
!pip install  -U allennlp_models

In [11]:
from allennlp_models.pretrained import load_predictor
import numpy as np
import pandas as pd 
 #Model
model = load_predictor("pair-classification-roberta-snli")

In [67]:
 
label_mapping = ['entailment', 'contradiction', 'neutral']
sentence1  = df['premise'].values
sentence2 = df['hypotesysis'].values
label_mapping = ['entailment', 'contradiction', 'neutral']

In [68]:
score_NLi =  []
targets = []
probab = []
for i in range(5):
  preds = model.predict(sentence1[i],sentence2[i])
  labels = [label_mapping[score_max] for score_max in np.array([preds['logits']], dtype="float32").argmax(axis=1)]
  score_NLi.append(labels)
  targets.append(max(preds['logits']))
  probab.append(max(preds['probs']))

In [69]:
df['Score'] = targets
df['Targets'] = score_NLi
df['probab'] = probab

In [70]:
df

,premise,hypotesysis,Score,Targets,probab
0,Nearly ten years had passed since the Dursleys...,The sun rose on the same tidy front gardens an...,2.641618,[contradiction],0.913986
1,Nearly ten years had passed since the Dursleys...,"It crept into their living room, which was alm...",0.949426,[contradiction],0.655547
2,The sun rose on the same tidy front gardens an...,"It crept into their living room, which was alm...",4.203641,[contradiction],0.996696
3,The sun rose on the same tidy front gardens an...,Only the photographs on the mantelpiece really...,4.800231,[contradiction],0.998220
4,"It crept into their living room, which was alm...",Only the photographs on the mantelpiece really...,3.767888,[contradiction],0.988768

In [71]:
sentence1  = df1['premise'].values
sentence2 = df1['hypotesysis'].values
label_mapping = ['entailment', 'contradiction', 'neutral']

score_NLi =  []
targets = []
probab = []
for i in range(6):
  preds = model.predict(sentence1[i],sentence2[i])
  labels = [label_mapping[score_max] for score_max in np.array([preds['logits']], dtype="float32").argmax(axis=1)]
  score_NLi.append(labels)
  targets.append(max(preds['logits']))
  probab.append(max(preds['probs']))

In [72]:
df1['Score'] = targets
df1['Targets'] = score_NLi
df1['probab'] = probab

In [73]:
df1

,premise,hypotesysis,Score,Targets,probab
0,I think that I would agree to leave my country...,I would become a beautician and create my own ...,1.918127,[neutral],0.651527
1,I think that I would agree to leave my country...,I would go abroad to increase my skills.,5.175176,[neutral],0.998511
2,I think that I would agree to leave my country...,"Moreover, I would have the possibility to disc...",4.201128,[neutral],0.994870
3,I would become a beautician and create my own ...,I would go abroad to increase my skills.,2.688026,[neutral],0.933868
4,I would become a beautician and create my own ...,"Moreover, I would have the possibility to disc...",3.837814,[contradiction],0.991977
5,I would go abroad to increase my skills.,"Moreover, I would have the possibility to disc...",2.188556,[neutral],0.940172